* {
  margin: 0;
  padding: 0;
}
.all {
  overflow: hidden;
}
.span {
  z-index: 1;
  position: relative;
  top: 0%;
  left: 0%;
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 4s linear infinite;
}
.span::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(-50%);
  width: 300px;
  overflow-x: hidden;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
.span:nth-child(1) {
  top: 0%;
  left: 20%;
  background: #ffd700; /* Cor dourada */
  animation-delay: 0;
  animation-duration: 3s;
}
.span:nth-child(2) {
  top: 0%;
  left: 30%;
  background: #87cefa; /* Cor azul claro */
  animation-delay: 0;
  animation-duration: 6s;
}
.span:nth-child(3) {
  top: 0%;
  left: -20%;
  background: #ff69b4; /* Cor rosa suave */
  animation-delay: 0;
  animation-duration: 3s;
}
.span:nth-child(4) {
  top: 0%;
  left: -10%;
  background: #add8e6; /* Cor azul claro */
  animation-delay: 0;
  animation-duration: 2s;
}
.span:nth-child(5) {
  top: 0%;
  left: -30%;
  background: #ffb6c1; /* Cor rosa claro */
  animation-delay: 0;
  animation-duration: 2s;
}
.span:nth-child(6) {
  top: 0%;
  left: -40%;
  background: #98fb98; /* Cor verde pálido */
  animation-delay: 2s;
  animation-duration: 1s;
}
.span:nth-child(7) {
  top: 0%;
  left: -50%;
  background: #ffd700; /* Cor dourada */
  animation-delay: 0;
  animation-duration: 3s;
}
.span:nth-child(8) {
  top: 0%;
  left: 10%;
  background: #87cefa; /* Cor azul claro */
  animation-delay: 0;
  animation-duration: 4.5s;
}
.span:nth-child(9) {
  top: 0%;
  left: 40%;
  background: #ff69b4; /* Cor rosa suave */
  animation-delay: 0;
  animation-duration: 3.5s;
}
.span:nth-child(10) {
  top: 0%;
  left: 50%;
  background: #add8e6; /* Cor azul claro */
  animation-delay: 0s;
  animation-duration: 2.5s;
}
.span:nth-child(11) {
  top: 0%;
  left: 60%;
  background: #ffb6c1; /* Cor rosa claro */
  animation-delay: 0;
  animation-duration: 3s;
}
.span:nth-child(12) {
  top: 0%;
  left: 70%;
  background: #98fb98; /* Cor verde pálido */
  animation-delay: 0;
  animation-duration: 3.5s;
}
.span:nth-child(13) {
  top: 0%;
  left: 80%;
  background: #ffd700; /* Cor dourada */
  animation-delay: 0s;
  animation-duration: 4s;
}

@keyframes animate {
  0% {
    transform: rotate(220deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(220deg) translateX(-180vh);
  }
}
